In [1]:
library(dplyr)
library(readr)
library(tictoc)
library(stringr)
library(tidyr)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [2]:
mutate_where <- function(.data, condition, ..., envir = parent.frame()) {
  condition <- eval(substitute(condition), .data, envir)
  .data[condition, ] <- .data[condition, ] %>% mutate(...)
  .data
}

In [3]:
matches.raw <- read_csv('results.csv')
dim(matches.raw)

Parsed with column specification:
cols(
  date = col_date(format = ""),
  home_team = col_character(),
  away_team = col_character(),
  home_score = col_integer(),
  away_score = col_integer(),
  tournament = col_character(),
  city = col_character(),
  country = col_character(),
  neutral = col_logical()
)

In [4]:
length(union(matches.raw$home_team,matches.raw$away_team))

[1] 244

In [5]:
foot.teams <- data.frame(team=union(matches.raw$home_team,matches.raw$away_team),elo=1000,match=0)

In [ ]:
matches.selected <- matches.raw

matches.selected <- matches.raw %>% filter(tournament != 'Friendly')
dim(matches.selected)

In [13]:
foot.teams <- data.frame(team=union(matches.selected$home_team,matches.selected$away_team),elo=1000,match=0,w=0,l=0,d=0)
tic('elo rating')
for (row in 1:(dim(matches.selected)[1])) {
    current <- matches.selected[row,]
    scoreA <- (sign(current$home_score-current$away_score)+1)/2
    eloA <- foot.teams[foot.teams$team==current$home_team,]$elo
    eloB <- foot.teams[foot.teams$team==current$away_team,]$elo
    nelo <- newelo(eloA,eloB,scoreA)
    #cat(paste(current$home_team,'-',current$away_team,':',eloA,eloB,'->',nelo[1],nelo[2],'\n'))
    foot.teams[foot.teams$team==current$home_team,]$elo <- nelo[1]
    foot.teams[foot.teams$team==current$away_team,]$elo <- nelo[2]
    foot.teams[foot.teams$team==current$home_team,]$match <- foot.teams[foot.teams$team==current$home_team,]$match +1    
    foot.teams[foot.teams$team==current$away_team,]$match <- foot.teams[foot.teams$team==current$away_team,]$match +1
    if (scoreA==1) {
        foot.teams[foot.teams$team==current$home_team,]$w = foot.teams[foot.teams$team==current$home_team,]$w +1
        foot.teams[foot.teams$team==current$away_team,]$l = foot.teams[foot.teams$team==current$away_team,]$l +1
    } else if (scoreA==0) {
        foot.teams[foot.teams$team==current$home_team,]$l = foot.teams[foot.teams$team==current$home_team,]$l +1
        foot.teams[foot.teams$team==current$away_team,]$w = foot.teams[foot.teams$team==current$away_team,]$w +1
    } else {
        foot.teams[foot.teams$team==current$home_team,]$d = foot.teams[foot.teams$team==current$home_team,]$d +1
        foot.teams[foot.teams$team==current$away_team,]$d = foot.teams[foot.teams$team==current$away_team,]$d +1
    }
}
toc()

elo rating: 45.503 sec elapsed

In [15]:
foot.teams$team <- as.character(foot.teams$team)

In [16]:
foot.teams %>% mutate(wpct=round(100*w/match,2),lpct=round(100*l/match,2),dpct=round(100*d/match,2))%>% arrange(desc(elo))

    team                     elo  match w   l   d  wpct  lpct   dpct
1   Iran                     1489 184   128  0  56 69.57  0.00  30.43
2   Germany                  1475 248   192 24  32 77.42  9.68  12.90
3   Portugal                 1440 248   176 16  56 70.97  6.45  22.58
4   Korea Republic           1412 232   152 32  48 65.52 13.79  20.69
5   Spain                    1379 200   160 24  16 80.00 12.00   8.00
6   England                  1378 192   152  8  32 79.17  4.17  16.67
7   Australia                1375 248   152 32  64 61.29 12.90  25.81
8   Senegal                  1360 232   160 16  56 68.97  6.90  24.14
9   Japan                    1360 240   152 40  48 63.33 16.67  20.00
10  Brazil                   1359 200   120 24  56 60.00 12.00  28.00
11  Poland                   1342 200   128 16  56 64.00  8.00  28.00
12  France                   1327 136    96 16  24 70.59 11.76  17.65
13  Switzerland              1314 208   144 32  32 69.23 15.38  15.38
14  Belgium                  1301 200   152 24  24 76.00 12.00  12.00
15  Uzbekistan               1289 176   104 64   8 59.09 36.36   4.55
16  Syria                    1284 176    80 48  48 45.45 27.27  27.27
17  Argentina                1280 240   120 32  88 50.00 13.33  36.67
18  Italy                    1273 216   136 24  56 62.96 11.11  25.93
19  Saudi Arabia             1273 216   128 56  32 59.26 25.93  14.81
20  Mexico                   1269 296   160 48  88 54.05 16.22  29.73
21  China                    1267 224    96 64  64 42.86 28.57  28.57
22  Iceland                  1255 200   120 40  40 60.00 20.00  20.00
23  Peru                     1249 240   104 64  72 43.33 26.67  30.00
24  Chile                    1245 280   136 80  64 48.57 28.57  22.86
25  Congo DR                 1234 320   184 72  64 57.50 22.50  20.00
26  USA                      1232 248   136 64  48 54.84 25.81  19.35
27  Tunisia                  1228 280   152 48  80 54.29 17.14  28.57
28  Wales                    1227 208   112 32  64 53.85 15.38  30.77
29  Croatia                  1219 208   120 32  56 57.69 15.38  26.92
30  Costa Rica               1217 240   104 48  88 43.33 20.00  36.67
⋮   ⋮                        ⋮    ⋮     ⋮   ⋮   ⋮  ⋮     ⋮      ⋮
187 Lithuania                784  184   40  112 32 21.74  60.87 17.39
188 Mauritius                781  184   40  112 32 21.74  60.87 17.39
189 Luxembourg               779  160   16  112 32 10.00  70.00 20.00
190 Mongolia                 777   64   32   24  8 50.00  37.50 12.50
191 South Sudan              774  144   32   80 32 22.22  55.56 22.22
192 Comoros                  770  136   16   80 40 11.76  58.82 29.41
193 Maldives                 757  176   56  112  8 31.82  63.64  4.55
194 Kazakhstan               752  160    8  112 40  5.00  70.00 25.00
195 Tonga                    747   24    0   24  0  0.00 100.00  0.00
196 Northern Mariana Islands 735   16    0   16  0  0.00 100.00  0.00
197 Laos                     733  208   64  120 24 30.77  57.69 11.54
198 Cambodia                 733  216   64  144  8 29.63  66.67  3.70
199 Nepal                    717  112   16   56 40 14.29  50.00 35.71
200 Anguilla                 710   24    0   24  0  0.00 100.00  0.00
201 Macau                    700  120   24   64 32 20.00  53.33 26.67
202 Kosovo                   697   80    0   72  8  0.00  90.00 10.00
203 Seychelles               648  176    8  136 32  4.55  77.27 18.18
204 Moldova                  622  160    0  128 32  0.00  80.00 20.00
205 Somalia                  618   40    0   40  0  0.00 100.00  0.00
206 Andorra                  608  160    8  144  8  5.00  90.00  5.00
207 Malta                    602  160    0  136 24  0.00  85.00 15.00
208 Liechtenstein            587  160    8  136 16  5.00  85.00 10.00
209 Sri Lanka                587   64    8   48  8 12.50  75.00 12.50
210 Djibouti                 566  104    8   96  0  7.69  92.31  0.00
211 Bangladesh               545  120    8   96 16  6.67  80.00 13.33
212 Bhutan                   533  168   24  136  8 14.29  80.95  4.76
213 Brunei                   499   96   16   72  8 16.67  75.00  8.33
214 San Marino               471  160    0  152  8  0.00  95.00  5.00
215 Gibraltar                435  160    0  160  0  0.00 100.00  0.00
216 East Timor               417  176    8  152 16  4.55  86.36  9.09

### Loop for Stats

In [17]:
newelo <- function(eloA,eloB,scoreA,K=32) {
    EA <- 1/(1+10**((eloB-eloA)/400))
    delta <- round((scoreA-EA)*K,0)
    c(eloA+delta,eloB-delta)
}

In [18]:
probadraw <- function(eloA,eloB) {
    pwin <- 1/(1+10**((eloB-eloA)/400))
    delta <- abs(2*pwin-1)
    (1-delta)*exp(-delta)/2    
}

In [19]:
create_pool_round <- function() {
    countries <- c('Russia','Saudi Arabia','Egypt','Uruguay','Portugal','Spain','Morocco','Iran',
                   'France','Australia','Peru','Denmark','Argentina','Iceland','Croatia','Nigeria',
                   'Brazil','Switzerland','Costa Rica','Serbia','Germany','Mexico','Sweden','Korea Republic',
                   'Belgium','Panama','Tunisia','England','Poland','Senegal','Colombia','Japan' )
    poolteam <- c('A','A','A','A','B','B','B','B',
                  'C','C','C','C','D','D','D','D',
                  'E','E','E','E','F','F','F','F',
                  'G','G','G','G','H','H','H','H')
    pools <- data.frame(team=countries,pool=poolteam,stringsAsFactors=F)
    
    wc.teams <<- foot.teams %>% inner_join(pools,by='team') %>% mutate(match=0,w=0,l=0,d=0)

    date <- c('Jun 14 2018','Jun 15 2018','Jun 15 2018','Jun 15 2018','Jun 16 2018','Jun 16 2018','Jun 16 2018','Jun 16 2018',
              'Jun 17 2018','Jun 17 2018','Jun 17 2018','Jun 18 2018','Jun 18 2018','Jun 18 2018','Jun 19 2018','Jun 19 2018',
              'Jun 19 2018','Jun 20 2018','Jun 20 2018','Jun 20 2018','Jun 21 2018','Jun 21 2018','Jun 21 2018','Jun 22 2018',
              'Jun 22 2018','Jun 22 2018','Jun 23 2018','Jun 23 2018','Jun 23 2018','Jun 24 2018','Jun 24 2018','Jun 24 2018',
              'Jun 25 2018','Jun 25 2018','Jun 25 2018','Jun 25 2018','Jun 26 2018','Jun 26 2018','Jun 26 2018','Jun 26 2018',
              'Jun 27 2018','Jun 27 2018','Jun 27 2018','Jun 27 2018','Jun 28 2018','Jun 28 2018','Jun 28 2018','Jun 28 2018')
    home_team <- c('Russia','Egypt','Portugal','Morocco','France','Peru','Argentina','Croatia',
                   'Brazil','Costa Rica','Germany','Sweden','Belgium','Tunisia','Poland','Colombia',
                   'Russia','Uruguay','Portugal','Iran','France','Denmark','Argentina','Nigeria',
                   'Brazil','Serbia','Germany','Korea Republic','Belgium','England','Poland','Japan',
                   'Uruguay','Saudi Arabia','Iran','Spain','Denmark','Australia','Nigeria','Iceland',
                   'Serbia','Switzerland','Korea Republic','Mexico','England','Panama','Japan','Senegal')
    away_team <- c('Saudi Arabia','Uruguay','Spain','Iran','Australia','Denmark','Iceland','Nigeria',
                   'Switzerland','Serbia','Mexico','Korea Republic','Panama','England','Senegal','Japan',
                   'Egypt','Saudi Arabia','Morocco','Spain','Peru','Australia','Croatia','Iceland',
                   'Costa Rica','Switzerland','Sweden','Mexico','Tunisia','Panama','Colombia','Senegal',
                   'Russia','Egypt','Portugal','Morocco','France','Peru','Argentina','Croatia',
                   'Brazil','Costa Rica','Germany','Sweden','Belgium','Tunisia','Poland','Colombia')
    pool <- c('A','A','B','B','C','C','D','D','E','E','F','F','G','G','H','H',
              'A','A','B','B','C','C','D','D','E','E','F','F','G','G','H','H',
              'A','A','B','B','C','C','D','D','E','E','F','F','G','G','H','H')

    wc.pool <<- data.frame(pool=pool, date=date, home_team=home_team, away_team=away_team, stringsAsFactors=F) %>% mutate(date=as.Date(date,'%b %d %Y'))
}

In [20]:
play_pool_round <- function() {
    for (row in 1:(dim(wc.pool)[1])) {
        home_team_idx = as.numeric(rownames(wc.teams[wc.teams$team==wc.pool[row,]$home_team,]))
        away_team_idx = as.numeric(rownames(wc.teams[wc.teams$team==wc.pool[row,]$away_team,]))

        wc.pool[row,'home_elo'] <- wc.teams[home_team_idx,]$elo
        wc.pool[row,'away_elo'] <- wc.teams[away_team_idx,]$elo
        wc.pool[row,'home_p'] <- 1/(1+10**((wc.pool[row,]$away_elo-wc.pool[row,]$home_elo)/400))
        wc.pool[row,'draw_p'] <- probadraw(wc.pool[row,]$home_elo,wc.pool[row,]$away_elo)
        wc.pool[row,'home_pwin']  <- wc.pool[row,]$home_p - wc.pool[row,]$draw_p/2
        wc.pool[row,'home_pdraw'] <- wc.pool[row,]$home_p + wc.pool[row,]$draw_p/2
        wc.pool[row,'rand'] <- runif(1)

        wc.pool[row,'home_pts'] <- if_else(wc.pool[row,]$rand<=wc.pool[row,]$home_pwin,1,if_else(wc.pool[row,]$rand<=wc.pool[row,]$home_pdraw,0.5,0))

        nelo <- newelo(wc.pool[row,]$home_elo,wc.pool[row,]$away_elo,wc.pool[row,]$home_pts)
        wc.teams[home_team_idx,]$elo <- nelo[1]
        wc.teams[away_team_idx,]$elo <- nelo[2]

        wc.teams[home_team_idx,]$match <- wc.teams[home_team_idx,]$match +1    
        wc.teams[away_team_idx,]$match <- wc.teams[away_team_idx,]$match +1
        if (wc.pool[row,]$home_pts==1) {
            wc.teams[home_team_idx,]$w = wc.teams[home_team_idx,]$w +1
            wc.teams[away_team_idx,]$l = wc.teams[away_team_idx,]$l +1
        } else if (wc.pool[row,]$home_pts==0) {
            wc.teams[home_team_idx,]$l = wc.teams[home_team_idx,]$l +1
            wc.teams[away_team_idx,]$w = wc.teams[away_team_idx,]$w +1
        } else {
            wc.teams[home_team_idx,]$d = wc.teams[home_team_idx,]$d +1
            wc.teams[away_team_idx,]$d = wc.teams[away_team_idx,]$d +1
        }
    }
    wc.teams <<- wc.teams %>% mutate(pts=3*w+d)
    wc.pool <<- wc.pool
}

In [21]:
create_8th_round <- function() {
    wc.qualified <- wc.teams %>% arrange(pool,desc(pts),desc(w),l) %>% group_by(pool) %>% 
                             mutate(pos=row_number()) %>% slice(1:2) %>% mutate(rank=paste0(pool,pos)) %>% ungroup()
    home_team <- c('A1','C1','E1','G1','B1','D1','F1','H1')
    away_team <- c('B2','D2','F2','H2','A2','C2','E2','G2')
    wc.8th <- data.frame(home_pos=home_team,away_pos=away_team,stringsAsFactors=F)
    wc.8th <<- wc.8th %>% inner_join(wc.qualified %>% select(team,rank),by=c('home_pos'='rank')) %>% rename(home_team=team) %>%
                     inner_join(wc.qualified %>% select(team,rank),by=c('away_pos'='rank')) %>% rename(away_team=team)
}

In [22]:
play_8th_round <- function() {
    for (row in 1:(dim(wc.8th)[1])) {
        home_team_idx = as.numeric(rownames(wc.teams[wc.teams$team==wc.8th[row,]$home_team,]))
        away_team_idx = as.numeric(rownames(wc.teams[wc.teams$team==wc.8th[row,]$away_team,]))

        wc.8th[row,'home_elo'] <- wc.teams[home_team_idx,]$elo
        wc.8th[row,'away_elo'] <- wc.teams[away_team_idx,]$elo
        wc.8th[row,'home_p'] <- 1/(1+10**((wc.8th[row,]$away_elo-wc.8th[row,]$home_elo)/400))
        wc.8th[row,'rand'] <- runif(1)
        wc.8th[row,'home_pts'] <- if_else(wc.8th[row,]$rand<=wc.8th[row,]$home_p,1,0)

        wc.teams[home_team_idx,'r8th'] <- wc.8th[row,]$home_pts
        wc.teams[away_team_idx,'r8th'] <- 1-wc.8th[row,]$home_pts

        nelo <- newelo(wc.8th[row,]$home_elo,wc.8th[row,]$away_elo,wc.8th[row,]$home_pts)
        wc.teams[home_team_idx,]$elo <- nelo[1]
        wc.teams[away_team_idx,]$elo <- nelo[2]
    }
    wc.teams <<- wc.teams
    wc.8th <<- wc.8th
}

In [23]:
create_4th_round <- function() {
    home_team <- c(if_else(wc.8th[1,]$home_pts==1,as.character(wc.8th[1,]$home_team),as.character(wc.8th[1,]$away_team)),
                   if_else(wc.8th[3,]$home_pts==1,as.character(wc.8th[3,]$home_team),as.character(wc.8th[3,]$away_team)),
                   if_else(wc.8th[5,]$home_pts==1,as.character(wc.8th[5,]$home_team),as.character(wc.8th[5,]$away_team)),
                   if_else(wc.8th[7,]$home_pts==1,as.character(wc.8th[7,]$home_team),as.character(wc.8th[7,]$away_team)) )

    away_team <- c(if_else(wc.8th[2,]$home_pts==1,as.character(wc.8th[2,]$home_team),as.character(wc.8th[2,]$away_team)),
                   if_else(wc.8th[4,]$home_pts==1,as.character(wc.8th[4,]$home_team),as.character(wc.8th[4,]$away_team)),
                   if_else(wc.8th[6,]$home_pts==1,as.character(wc.8th[6,]$home_team),as.character(wc.8th[6,]$away_team)),
                   if_else(wc.8th[8,]$home_pts==1,as.character(wc.8th[8,]$home_team),as.character(wc.8th[8,]$away_team)) )

    wc.4th <<- data.frame(home_team=home_team,away_team=away_team, stringsAsFactors=F) 
}

In [24]:
play_4th_round <- function() {
    for (row in 1:(dim(wc.4th)[1])) {
        home_team_idx = as.numeric(rownames(wc.teams[wc.teams$team==wc.4th[row,]$home_team,]))
        away_team_idx = as.numeric(rownames(wc.teams[wc.teams$team==wc.4th[row,]$away_team,]))

        wc.4th[row,'home_elo'] <- wc.teams[home_team_idx,]$elo
        wc.4th[row,'away_elo'] <- wc.teams[away_team_idx,]$elo
        wc.4th[row,'home_p'] <- 1/(1+10**((wc.4th[row,]$away_elo-wc.4th[row,]$home_elo)/400))
        wc.4th[row,'rand'] <- runif(1)
        wc.4th[row,'home_pts'] <- if_else(wc.4th[row,]$rand<=wc.4th[row,]$home_p,1,0)

        wc.teams[home_team_idx,'r4th'] <- wc.4th[row,]$home_pts
        wc.teams[away_team_idx,'r4th'] <- 1-wc.4th[row,]$home_pts

        nelo <- newelo(wc.4th[row,]$home_elo,wc.4th[row,]$away_elo,wc.4th[row,]$home_pts)
        wc.teams[home_team_idx,]$elo <- nelo[1]
        wc.teams[away_team_idx,]$elo <- nelo[2]
    }
    wc.teams <<- wc.teams
    wc.4th <<- wc.4th    
}

In [25]:
create_2th_round <- function() {
    home_team <- c(if_else(wc.4th[1,]$home_pts==1,as.character(wc.4th[1,]$home_team),as.character(wc.4th[1,]$away_team)),
                   if_else(wc.4th[3,]$home_pts==1,as.character(wc.4th[3,]$home_team),as.character(wc.4th[3,]$away_team)) )

    away_team <- c(if_else(wc.4th[2,]$home_pts==1,as.character(wc.4th[2,]$home_team),as.character(wc.4th[2,]$away_team)),
                   if_else(wc.4th[4,]$home_pts==1,as.character(wc.4th[4,]$home_team),as.character(wc.4th[4,]$away_team)) )

    wc.2th <<- data.frame(home_team=home_team,away_team=away_team, stringsAsFactors=F)   
}

In [26]:
play_2th_round <- function() {
    for (row in 1:(dim(wc.2th)[1])) {
        home_team_idx = as.numeric(rownames(wc.teams[wc.teams$team==wc.2th[row,]$home_team,]))
        away_team_idx = as.numeric(rownames(wc.teams[wc.teams$team==wc.2th[row,]$away_team,]))

        wc.2th[row,'home_elo'] <- wc.teams[home_team_idx,]$elo
        wc.2th[row,'away_elo'] <- wc.teams[away_team_idx,]$elo
        wc.2th[row,'home_p'] <- 1/(1+10**((wc.2th[row,]$away_elo-wc.2th[row,]$home_elo)/400))
        wc.2th[row,'rand'] <- runif(1)
        wc.2th[row,'home_pts'] <- if_else(wc.2th[row,]$rand<=wc.2th[row,]$home_p,1,0)

        wc.teams[home_team_idx,'r2th'] <- wc.2th[row,]$home_pts
        wc.teams[away_team_idx,'r2th'] <- 1-wc.2th[row,]$home_pts

        nelo <- newelo(wc.2th[row,]$home_elo,wc.2th[row,]$away_elo,wc.2th[row,]$home_pts)
        wc.teams[home_team_idx,]$elo <- nelo[1]
        wc.teams[away_team_idx,]$elo <- nelo[2]
    }
    wc.teams <<- wc.teams
    wc.2th <<- wc.2th
}

In [27]:
create_playoff_round <- function() {
    home_team <- c(if_else(wc.2th[1,]$home_pts==1,as.character(wc.2th[1,]$away_team),as.character(wc.2th[1,]$home_team)))
    away_team <- c(if_else(wc.2th[2,]$home_pts==1,as.character(wc.2th[2,]$away_team),as.character(wc.2th[2,]$home_team)))

    wc.playoff <<- data.frame(home_team=home_team,away_team=away_team, stringsAsFactors=F)    
}

In [28]:
play_playoff_round <- function() {
    home_team_idx = as.numeric(rownames(wc.teams[wc.teams$team==wc.playoff[1,]$home_team,]))
    away_team_idx = as.numeric(rownames(wc.teams[wc.teams$team==wc.playoff[1,]$away_team,]))

    wc.playoff[1,'home_elo'] <- wc.teams[home_team_idx,]$elo
    wc.playoff[1,'away_elo'] <- wc.teams[away_team_idx,]$elo
    wc.playoff[1,'home_p'] <- 1/(1+10**((wc.playoff[1,]$away_elo-wc.playoff[1,]$home_elo)/400))
    wc.playoff[1,'rand'] <- runif(1)
    wc.playoff[1,'home_pts'] <- if_else(wc.playoff[1,]$rand<=wc.playoff[1,]$home_p,1,0)

    wc.teams[home_team_idx,'rplayoff'] <- wc.playoff[1,]$home_pts
    wc.teams[away_team_idx,'rplayoff'] <- 1-wc.playoff[1,]$home_pts

    nelo <- newelo(wc.playoff[1,]$home_elo,wc.playoff[1,]$away_elo,wc.playoff[1,]$home_pts)
    wc.teams[home_team_idx,]$elo <- nelo[1]
    wc.teams[away_team_idx,]$elo <- nelo[2]

    wc.teams <<- wc.teams
    wc.playoff <<- wc.playoff
}

In [29]:
create_final_round <- function() {
    home_team <- c(if_else(wc.2th[1,]$home_pts==1,as.character(wc.2th[1,]$home_team),as.character(wc.2th[1,]$away_team)))
    away_team <- c(if_else(wc.2th[2,]$home_pts==1,as.character(wc.2th[2,]$home_team),as.character(wc.2th[2,]$away_team)))

    wc.final <<- data.frame(home_team=home_team,away_team=away_team, stringsAsFactors=F)   
}

In [30]:
play_final_round <- function() {
    home_team_idx = as.numeric(rownames(wc.teams[wc.teams$team==wc.final[1,]$home_team,]))
    away_team_idx = as.numeric(rownames(wc.teams[wc.teams$team==wc.final[1,]$away_team,]))

    wc.final[1,'home_elo'] <- wc.teams[home_team_idx,]$elo
    wc.final[1,'away_elo'] <- wc.teams[away_team_idx,]$elo
    wc.final[1,'home_p'] <- 1/(1+10**((wc.final[1,]$away_elo-wc.final[1,]$home_elo)/400))
    wc.final[1,'rand'] <- runif(1)
    wc.final[1,'home_pts'] <- if_else(wc.final[1,]$rand<=wc.final[1,]$home_p,1,0)

    wc.teams[home_team_idx,'rfinal'] <- wc.final[1,]$home_pts
    wc.teams[away_team_idx,'rfinal'] <- 1-wc.final[1,]$home_pts

    nelo <- newelo(wc.final[1,]$home_elo,wc.final[1,]$away_elo,wc.final[1,]$home_pts)
    wc.teams[home_team_idx,]$elo <- nelo[1]
    wc.teams[away_team_idx,]$elo <- nelo[2]
    
    wc.teams <<- wc.teams
    wc.final <<- wc.final
}

In [31]:
library(foreach)
library(doParallel)

Loading required package: iterators
Loading required package: parallel

In [32]:
no_cores <- detectCores() - 1

In [33]:
cl <- makeCluster(no_cores, type="FORK")
registerDoParallel(cl)

tic('Stats')
for(r in 1:100) {
    wc.teams.stats <- foreach(i=1:10000, .combine=rbind) %dopar%
    {
        set.seed(NULL)

        create_pool_round()
        play_pool_round()

        create_8th_round()
        play_8th_round()

        create_4th_round()
        play_4th_round()

        create_2th_round()
        play_2th_round()

        create_playoff_round()
        play_playoff_round()

        create_final_round()
        play_final_round()

        wc.teams.stats <- wc.teams %>% mutate(run=10000*(r-1)+i)
        saveRDS(wc.teams.stats, paste0('wc.teams.stats.',str_pad(r,2,pad='0')))
    }
    
stopCluster(cl)
toc()
    
dim(wc.teams.stats)

Stats: 120.296 sec elapsed

[1] 32000    14

In [ ]:
wc.teams.stats.all <- readRDS('wc.teams.stats.01')
for(r in 2:100) {
    wc.teams.stats <- readRDS('wc.teams.stats.', paste0('wc.teams.stats.',str_pad(r,2,pad='0')))
    wc.teams.stats.all <- wc.teams.stats.all %>% rbind(wc.teams.stats)
    }

In [34]:
wc.teams.stats %>% select(team,r8th,r4th,r2th,rplayoff,rfinal) %>% 
                   replace_na(list(r8th=0,r4th=0,r2th=0,rplayoff=0,rfinal=0)) %>% 
                   group_by(team) %>% summarise_all(funs(mean(.,na.rm=T))) %>%
                   arrange(desc(rfinal),desc(rplayoff),desc(r2th),desc(r4th),desc(r8th))

   team           r8th  r4th  r2th  rplayoff rfinal
1  Iran           0.561 0.403 0.259 0.103    0.172
2  Germany        0.612 0.421 0.270 0.102    0.169
3  Portugal       0.574 0.391 0.221 0.099    0.118
4  Korea Republic 0.448 0.269 0.152 0.062    0.071
5  Australia      0.542 0.298 0.138 0.084    0.063
6  Spain          0.321 0.173 0.090 0.042    0.049
7  England        0.435 0.216 0.102 0.059    0.045
8  Senegal        0.414 0.192 0.103 0.040    0.042
9  Brazil         0.310 0.163 0.079 0.045    0.037
10 Japan          0.306 0.154 0.072 0.048    0.033
11 Poland         0.318 0.147 0.061 0.037    0.029
12 France         0.339 0.139 0.066 0.036    0.027
13 Switzerland    0.263 0.117 0.052 0.027    0.025
14 Argentina      0.291 0.114 0.051 0.022    0.020
15 Saudi Arabia   0.199 0.099 0.044 0.022    0.016
16 Belgium        0.244 0.100 0.039 0.021    0.015
17 Croatia        0.181 0.061 0.021 0.014    0.010
18 Mexico         0.127 0.058 0.017 0.017    0.009
19 Peru           0.178 0.060 0.020 0.012    0.008
20 Tunisia        0.156 0.055 0.020 0.014    0.007
21 Iceland        0.229 0.065 0.020 0.018    0.005
22 Nigeria        0.115 0.030 0.013 0.007    0.005
23 Russia         0.072 0.030 0.009 0.005    0.005
24 Egypt          0.108 0.039 0.011 0.015    0.004
25 Costa Rica     0.128 0.045 0.012 0.009    0.003
26 Uruguay        0.106 0.038 0.015 0.005    0.003
27 Denmark        0.125 0.037 0.011 0.009    0.002
28 Morocco        0.059 0.023 0.007 0.009    0.002
29 Colombia       0.064 0.017 0.005 0.006    0.002
30 Serbia         0.057 0.020 0.010 0.003    0.002
31 Sweden         0.055 0.015 0.006 0.004    0.001
32 Panama         0.063 0.011 0.004 0.004    0.001

In [35]:
wc.teams.stats %>% filter(rfinal==1) %>% group_by(team) %>% summarize(n1=n()) %>% arrange(desc(n1)) %>% head(5)
predict.first <- wc.teams.stats %>% filter(rfinal==1) %>% group_by(team) %>% summarize(n1=n()) %>% arrange(desc(n1)) %>% head(1)

  team           n1
1 Iran           172
2 Germany        169
3 Portugal       118
4 Korea Republic  71
5 Australia       63

In [36]:
wc.teams.stats %>% filter(rfinal==0) %>% anti_join(predict.first,by='team') %>% group_by(team) %>% summarize(n2=n()) %>% arrange(desc(n2)) %>% head(5)
predict.second <- wc.teams.stats %>% filter(rfinal==0) %>% anti_join(predict.first,by='team') %>% 
        group_by(team) %>% summarize(n2=n()) %>% arrange(desc(n2)) %>% head(1)

  team           n2
1 Portugal       103
2 Germany        101
3 Korea Republic  81
4 Australia       75
5 Senegal         61

In [37]:
wc.teams.stats %>% filter(rplayoff==1) %>% anti_join(predict.first,by='team') %>% anti_join(predict.second,by='team') %>%
        group_by(team) %>% summarize(n3=n()) %>% arrange(desc(n3)) %>% head(5)
predict.third <- wc.teams.stats %>% filter(rplayoff==1) %>% anti_join(predict.first,by='team') %>% anti_join(predict.second,by='team') %>% 
        group_by(team) %>% summarize(n3=n()) %>% arrange(desc(n3)) %>% head(1)

  team           n3
1 Germany        102
2 Australia       84
3 Korea Republic  62
4 England         59
5 Japan           48

In [38]:
wc.teams.stats %>% filter(rplayoff==0) %>% anti_join(predict.first,by='team') %>% anti_join(predict.second,by='team') %>% anti_join(predict.third,by='team') %>%
        group_by(team) %>% summarize(n4=n()) %>% arrange(desc(n4)) %>% head(5)
predict.four <- wc.teams.stats %>% filter(rplayoff==0) %>% anti_join(predict.first,by='team') %>% anti_join(predict.second,by='team') %>% anti_join(predict.third,by='team') %>%
        group_by(team) %>% summarize(n4=n()) %>% arrange(desc(n4)) %>% head(1)

  team           n4
1 Australia      76
2 England        55
3 Korea Republic 55
4 Poland         49
5 Senegal        49

In [39]:
predict.first
predict.second
predict.third
predict.four

  team n1
1 Iran 172

  team     n2
1 Portugal 103

  team    n3
1 Germany 102

  team      n4
1 Australia 76

In [41]:
tmp01 <- wc.teams.stats %>% filter(rfinal>=0) %>% select(team,run,rfinal) %>% spread(rfinal,team) %>% rename(t1='0',t2='1') %>%
                group_by(t1,t2) %>% summarize(n=n()) %>% ungroup()
tmp02 <- tmp01 %>% inner_join(tmp01,by=c('t1'='t2','t2'='t1')) %>% mutate(total=n.x+n.y)
tmp02 %>% arrange(desc(total)) %>% head()

  t1             t2             n.x n.y total
1 Iran           Portugal       17  34  51
2 Portugal       Iran           34  17  51
3 Germany        Iran           20  17  37
4 Germany        Korea Republic 15  22  37
5 Iran           Germany        17  20  37
6 Korea Republic Germany        22  15  37

In [42]:
tmp01 <- wc.teams.stats %>% filter(rplayoff>=0) %>% select(team,run,rplayoff) %>% spread(rplayoff,team) %>% rename(t1='0',t2='1') %>%
                group_by(t1,t2) %>% summarize(n=n()) %>% ungroup()
tmp02 <- tmp01 %>% inner_join(tmp01,by=c('t1'='t2','t2'='t1')) %>% mutate(total=n.x+n.y)
tmp02 %>% arrange(desc(total)) %>% head()

  t1        t2        n.x n.y total
1 Iran      Portugal   8  14  22
2 Portugal  Iran      14   8  22
3 Germany   Portugal   8  13  21
4 Portugal  Germany   13   8  21
5 Australia Germany   10   7  17
6 Germany   Australia  7  10  17

In [44]:
tmp02 %>% filter(!t1 %in% c('Iran','Portugal')) %>% filter(!t2 %in% c('Iran','Portugal')) %>% arrange(desc(total)) %>% head()

  t1        t2        n.x n.y total
1 Australia Germany   10   7  17
2 Germany   Australia  7  10  17
3 Australia France     3   9  12
4 Australia Senegal    7   5  12
5 France    Australia  9   3  12
6 Germany   Poland     3   9  12